* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: hsl(0, 0%, 100%);
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(15px);
  background-color: rgba(157, 155, 155, 0.15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

.nav-item .nav-link {
  color: white
}

/*   -------------   */



.mod {
  text-align: center;
  position: fixed;
  z-index: 99;
  margin-right: 20px;
  right: 5px;
  bottom: 70px;
}

.sh {
  background-color: #000;
  color: white;
  transition: all 1s;
}

/* dark mod =============== */
.dark {
  background-color: #000;
  color: white;
}

.dark .About p {
  color: rgb(151, 149, 149) !important;
}

.dark header {
  background-color: #000;
  color: white;
}

.dark h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

.dark #prodact {
  background-color: #000;
  color: white;
}

.dark .ff {
  background-color: #000;
  color: white;
}

.dark .valuo {
  background-color: #000;
  color: white;
}

.dark .topnav {
  background-color: #000;
  color: white;
}

.dark .up {
  color: white;
}

.dark .text-Abute {
  color: white !important;
}


/* ================== */
.img_hedar{
  margin: -22px 0px 40px 0px !important;
}
.topnav {
  width: 100%;
  height: 70px;
  background-color: #638889;
  box-shadow: 0px 1px 10px 0px rgb(255, 255, 255);
  position: fixed;
  top: 0;
  z-index: 19;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
}

h3 {
  position: absolute;
  left: 260px;
}

li {
  list-style: none;
  font-size: 20px;
  font-weight: 700;
  margin: 10px;
  padding: 10px;
  color: #ddd;
  text-align: center;
}

.up {
  font-size: 30px;
  width: 30px;
  position: fixed;
  z-index: 99;
  right: 0;
  bottom: 20px;
}

#prpr {
  color: rgb(228, 0, 0);
  font-weight: bold;
  transition: all 0.5s;
  margin: 0 !important;
  position: absolute;
  bottom: 22px;
  right: 3px;
}

@media (min-width: 500px) and (min-width: 900px) {
  #prpr {
    position: absolute;
    bottom: 22px;
    right: 10px;
  }
}

#ru {
  margin-bottom: 40px;
}

a:hover {
  color: rgb(29, 250, 0);
  transition: all .5s;
}

/* ============      ==================== */

header {
  position: relative;
  width: 100%;
  height: auto;
}

.text-h {
  width: 300px !important;
  position: absolute;
  top: 200px;
  left: 20px;
  color: rgb(221, 220, 220);
  font-size: 23px;
  font-weight: 400;
  font-family: cursive;
}

/* (min-width: 500px) and */
@media (min-width: 700px) {
  .text-h {
    position: absolute;
    top: 500px;
    left: 20px;
    width: 400px !important;

  }
}

/* ---- */


.mySwiper {
  margin-top: 60px;
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---- */
.img_way-are {
  width: 100%;
  height: 500px;
  margin-top: 100px;

}

/* ----- */

#remove {
  background-color: rgba(211, 0, 0, 0.551);
  border: none;
  width: 40px;
  height: 30px;
  border-radius: 10px;
  color: #f2f2f2;
}


.fa-trash {
  font-size: 20px;
}

/* ---------------------- */

p {
  font-size: large;
  color: blue;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 20px 0px;
}

.card:hover {
  box-shadow: rgb(31, 29, 27) 5px 10px 10px 0px;
  transform: translate(-5px);
}

.container {
  margin: 10px;
  display: flex;
  justify-content: space-around;
}

.btn1 {
  background-color: #04aa6d;
  border: none;
  border-radius: 10px;
  width: 60px;
}

.btn1:hover {
  background-color: #72bba0;
  transition: all 0.5s;
}

.fa-solid {
  font-size: 13px;
}

.up {
  font-size: 25px;
  color: black;
  position: fixed;
  border: none;
  right: 20px;
  bottom: 20px;
  border-radius: 10px;
}

.valuo {
  background-color: white;
  width: 30px;
  height: 30px;
  font-weight: 600;
  border: none;
}


/* -------------------------------- */

#prodact {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  display: none;
  transition: all 0.5s;
  z-index: 111;
  overflow: auto;
}

#cloos {
  font-size: 50px;
  position: absolute;
  right: 31px;
  top: 100px;
  z-index: 99;
}

#cloos:hover {
  color: red;
  transform: scale(1.2);
  /* transform: rotate(180deg); */
  transition: all 0.5s;
}

.ff {
  border: solid 2px orange;
  text-align: center;
  position: relative;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 200px;
  height: 70px;

}

.too_brodact {
  margin-top: 200px;
  overflow: auto;
  z-index: 111;
}

.marct {

  margin: 20px 0px;
  border: solid 1px darkgray;
  box-shadow: 2px 1px 4px 0px dodgerblue;
}

.vv {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}

/* ---------------- */

/* About */
.text_abuot {
  color: rgb(95 70 141);
  opacity: 0.6;
  font-size: 20px;
}

h2 {
  margin-top: 150px;
  font-size: x-large;
}



.About {
  margin-top: 100px;
}

.logo_About {
  width: 300px;
  height: auto;
}

/* footer--------------------- */
footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fotar {
  margin-top: 200px;
  width: 100%;
  height: auto;
  background-color: black;
  color: #858282;
}

.ol {
  width: 200px;
}

.ol i {
  display: block;
  font-size: 20px;
  padding: 5px;
  margin-top: 10px;
}

i:hover {
  color: #089163;
}

.pl {
  width: 300px;
  color: gray;
}

/* 
-----------
*/
.allprodact {
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  display: none;
  overflow: auto;
  z-index: 111;
}

.img_2 {
  width: 400px;
  height: auto;
}


.aaa {
  font-size: 20px;
  font-family: 500;
  text-decoration: none;
}

.aaa:hover {
  color: red !important;
  background: none;
  transition: all 0.5s;
}

.back {
  color: rgb(76, 90, 105);
  position: absolute;
  text-decoration: none;
  top: 250px;
  font-size: 35px;
  font-weight: 500;
  right: 370px;
}
